/* Write your code here. */
.thumbnail-image-style {
  margin-right: 20px;
  cursor: pointer;
  opacity: 0.5;
}
.active-thumbnail {
  opacity: 1;
}
.non-active-thumbnail {
  opacity: 0.5;
}
.btn-image {
  border-width: 0px;
  background-color: transparent;
}
